# NodeJS dependencies
node_modules

# Log files
**/*.log

# LXD certificates
certificates/*key
certificates/*crt

# Build output
packages/**/lib
packages/**/src/**/*.js
packages/**/src/**/*.map
packages/**/src/**/*.d.ts

.gulp-cache

# LXDHUB Configuration File
lxdhub.yml
lxdhub*.yml

# Test output
coverage

# Database files
db/*.sql
