[Unit]
Description=lxdhub-api - rest-api backend
Documentation=https://github.com/Roche/lxdhub
After=network.target

[Service]
Type=simple
Environment=NODE_PATH=/usr/lib/node_modules
ExecStart=/usr/bin/node /var/lib/lxdhub/start-api-ui.js
Restart=on-failure
User=lxdhub

[Install]
WantedBy=multi-user.target
