[Unit]
Description=lxdhub-dbsync - synchronise metadata for remote defined in lxdhub.yml
Documentation=https://github.com/Roche/lxdhub
After=network.target

[Service]
Environment=SYNC_INTERVAL=20
Type=simple
ExecStart=/usr/bin/node /var/lib/lxdhub/lxdhub/bin/start.js dbsync
Restart=on-failure

[Install]
WantedBy=multi-user.target
