[Unit]
Description=lxdhub-api - rest-api backend
Documentation=https://github.com/Roche/lxdhub
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/lxdhub/packages/api/bin/start-api.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
